{% extends 'notions/index.html' %}
{% load filters %}

{% block content %} 
<h2>Notification Tasks</h2>
<p><a href="/tasks/form/">Create Notification</a></p>
  <table style="width:100%">
    <tbody>
    <tr>
    <td>id</td>
    <td>Edit / Remove</td>
    <td>Send</td>
    <td>Start date</td>
    <td>End date</td>
    <td>Notification text</td>
    <td>Tags</td>
    <td>Statistics</td>
    </tr>
    {% for notion in notions %}
    <tr>
    <td> <p> <a href="{% url 'notions:notification_page' notion.id %}">{{ notion.id }}</a> </p> </td>
    <td> 
      <p>
        <a href="{% url 'notions:tasks_update_form' notion.id %}">Edit</a> / 
        <a href="{% url 'notions:tasks_delete_form' notion.id %}">Remove</a>
      </p>
    </td>
    <td> 
      <p>
        {% if notion.start_pub_date < now and now < notion.end_pub_date %}
          <a href="{% url 'notions:send_messages' notion.id %}">Send</a>
        {% else %}
            Expired
        {% endif %}
      </p>
    </td>
    <td> <p>{{ notion.start_pub_date }}</p> </td>
    <td> <p>{{ notion.end_pub_date }}</p> </td>
    <td> <p>{{ notion.text }}</p> </td>
    <td> <p>
      {% for tag in notion.tags.all %}
      {{ tag.name }}
      {% endfor %}
    </p> 
    </td>
    <td> 
      <p>
        Total sent: {{ notion.message.count}} <br>
        Success: {{ notion.message|count_true }}<br>
        False: {{ notion.message|count_false }} 
      <p>
    </td>
    </tr>
    {% endfor %} 
    </tbody>
</table>

<h2>Clients List</h2>
<p><a href="/clients/form/">Add Client</a></p>
<table style="width:100%">
  <tbody>
  <tr>
  <td>id</td>
  <td>Edit / Remove</td>
  <td>Operator Code</td>
  <td>Phone Number</td>
  <td>Time Zome</td>
  <td>Tags</td>
  </tr>
  {% for client in clients %}
  <tr>
  <td> <p>{{ client.id }}</p> </td>
  <td> 
    <p>
      <a href="{% url 'notions:clients_update_form' client.id %}">Edit</a> / 
      <a href="{% url 'notions:clients_delete_form' client.id %}">Remove</a>
    </p>
  </td>
  <td> <p>{{ client.operator_code }}</p> </td>
  <td> <p>{{ client.phone_number }}</p> </td>
  <td> <p>{{ client.time_zone }}</p> </td>
  <td> <p>
    {% for tag in client.tags.all %}
    {{ tag.name }}
    {% endfor %}
  </p> 
  </td>
  </tr>
  {% endfor %} 
  </tbody>
{% endblock %} 

