{% extends 'notions/index.html' %}
{% load filters %}

{% block content %} 
<h2>Notification Task</h2>
<p><a href="/tasks/form/">Create Notification</a></p>
  <table style="width:100%">
    <tbody>
    <tr>
    <td>id</td>
    <td>Start date</td>
    <td>End date</td>
    <td>Notification text</td>
    <td>Tags</td>
    </tr>
    <tr>
    <td> <p>{{ notion.id }}</p> </td>
    <td> <p>{{ notion.start_pub_date }}</p> </td>
    <td> <p>{{ notion.end_pub_date }}</p> </td>
    <td> <p>{{ notion.text }}</p> </td>
    <td> <p>
      {% for tag in notion.tags.all %}
      {{ tag.name }}
      {% endfor %}
    </p> 
    </td>
    </tr>
    </tbody>
</table>

<p>
  Total sent: {{ notion.message.count}} <br>
  Success: {{ notion.message|count_true }}<br>
  False: {{ notion.message|count_false }} 
<p>


  <h2>Messages </h2>
  <table style="width:100%">
    <tbody>
    <tr>
    <td>id</td>
    <td>Sent date</td>
    <td>Status</td>
    <td>Client phone</td>
    </tr>
    {% for message in notion.message.all %}
    <tr>
    <td> <p>{{ message.id}}</p> </td>
    <td> <p>{{ message.create_date }}</p></td>
    <td> <p>{{ message.status }}</p></td>
    <td> <p>{{ message.client }}</p></td> 
    </tr>
    {% endfor %} 
    </tbody>

{% endblock %} 